In [1]:
import pandas as pd

In [2]:
df_distritos = pd.read_csv('data/csv_downloads/ObservaSampaDadosAbertosIndicadoresCSV.csv', sep=';')

In [3]:
df_distritos = df_distritos[df_distritos['Região'].str.endswith('(Distrito)')]

In [13]:
from core.load_app_data import df_distritos, geoseries_dists

In [5]:
diagnostico_duplicadas = {}

indicadores = df_distritos['Nome'].unique()

for indi in indicadores:
    diagnostico_duplicadas[indi] = {}
    df_indicador = df_distritos[df_distritos['Nome']==indi]
    anos = df_indicador['Período'].unique()
    
    for ano in anos:
        df_ano = df_indicador[df_indicador['Período']==ano]
        duplicadas = df_ano['Região'].duplicated().sum()
        diagnostico_duplicadas[indi][ano] = duplicadas

In [6]:
df_duplicadas = pd.DataFrame(diagnostico_duplicadas)
df_duplicadas.to_csv('qtd_distritos_duplicados_por_ano.csv', sep=';')

In [7]:
df_duplicadas

,População total,População total - homens,População total - mulheres,Razão de sexos
2006,0.0,0.0,0.0,0.0
2016,0.0,0.0,0.0,0.0
2012,0.0,0.0,0.0,0.0
2003,0.0,0.0,0.0,0.0
2015,0.0,0.0,0.0,0.0
2020,0.0,0.0,0.0,0.0
2009,0.0,0.0,0.0,0.0
1998,0.0,NaN,NaN,NaN
2007,0.0,0.0,0.0,0.0
2011,0.0,0.0,0.0,0.0
1999,0.0,NaN,NaN,NaN
2018,0.0,0.0,0.0,0.0
2002,0.0,0.0,0.0,0.0
2017,0.0,0.0,0.0,0.0
2014,0.0,0.0,0.0,0.0
2004,0.0,0.0,0.0,0.0
2019,0.0,0.0,0.0,0.0
1996,0.0,NaN,NaN,NaN
2000,0.0,0.0,0.0,0.0
2005,0.0,0.0,0.0,0.0
2010,0.0,0.0,0.0,0.0
1997,0.0,NaN,NaN,NaN
2013,0.0,0.0,0.0,0.0
2001,0.0,0.0,0.0,0.0
2008,0.0,0.0,0.0,0.0
2021,NaN,0.0,0.0,NaN

In [8]:
df_duplicadas['População total']

2006    0.0
2016    0.0
2012    0.0
2003    0.0
2015    0.0
2020    0.0
2009    0.0
1998    0.0
2007    0.0
2011    0.0
1999    0.0
2018    0.0
2002    0.0
2017    0.0
2014    0.0
2004    0.0
2019    0.0
1996    0.0
2000    0.0
2005    0.0
2010    0.0
1997    0.0
2013    0.0
2001    0.0
2008    0.0
2021    NaN
Name: População total, dtype: float64

In [11]:
mask1 = df_distritos['Nome']=='População total'
mask2 = df_distritos['Região']=='Alto de Pinheiros (Distrito)'
mask3 = df_distritos['Período']==2000

In [15]:
len(df_distritos[mask1&mask3])

23